<?xml version="1.0"?>
<configuration>
<system.web>
<compilation debug="true" targetFramework="4.0"/>
<httpRuntime executionTimeout ="120" maxRequestLength="10904586"/>
<webServices>
<protocols>
<add name="HttpGet"/>
<add name="HttpPost"/>
</protocols>
</webServices>
<customErrors mode="Off"></customErrors>
</system.web>
<appSettings>
<add key="Host" value="smtp.sendgrid.net"/>
<add key="EnableSsl" value="false"/>
<add key="UserName" value="aarti@dbreindia.com"/>
<add key="Password" value="thedawn@963"/>
<add key="Port" value="25"/>
<add key="EmailFrom" value="aarti@dbreindia.com"/>
<add key="AdminEmail" value="aarti@dbreindia.com"/>
</appSettings>
</configuration>
